<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心1：namespace 必须和 Mapper 接口的全类名完全一致 -->
<mapper namespace="com.shopease.mapper.SysUserMapper">

    <!-- 核心2：select 标签的 id 必须和方法名 selectByUsername 完全一致 -->
    <select id="selectByUsername" parameterType="java.lang.String" resultType="com.shopease.entity.SysUser">
        SELECT id, username, password, status FROM sys_user
        WHERE username = #{username}  <!-- 与 @Param 名一致，或无 @Param 时与参数名一致 -->
    </select>

</mapper>
